{% extends 'header.html' %}

{% load core_app_tags %}

{% load staticfiles %}

{% block css %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class="trail-search-container">
        <form action="" method="get" class="trail-search-form-container">
            <div class="trail-search-form">
                <h1 style="margin: 0">Find a Trail</h1>
                <div style="margin-top: 20px; width: 100%">
                    {% for field in form %}
                        <div class="search-label-container">
                            <p>{{ field.label }}</p>
                        </div><div class="search-input-container">
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="search-submit-button-container">
                        <button name="search" class="search-submit-button" type="submit" value="search">Search</button>
                        <button name="search" class="search-submit-button" type="submit" value="around_me">Trails Around Me</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if places|length %}
        <div class="search-results-container" id="results">
          <h3>Search Results:</h3>
            {% for place in places %}
                <a href="">
                    <div class="search-result-trail-container">
                        <div>
                            <h3 class="indexTrailHeader">{{ forloop.counter }}. {{ place.name }}</h3>
                            <p>{{ place.city }}, {{ place.state }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}{{ block.super }}
    <script>
        $(document).ready(function() {
            var places = "{{ places|escapejs }}";
            if ( places.length ) {
                document.getElementById("results").scrollIntoView();
            }
            $('.search-submit-button').click(function(e){
                $(e.target).html('Loading...');
            })
        })
    </script>
{% endblock %}