{% extends 'header.html' %}

{% load core_app_tags %}

{% load staticfiles %}

{% block css %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class="trail-search-container">
        <form action="" method="get" class="trail-search-form-container">
            <div class="trail-search-form">
                <h1 style="margin: 0">Find a Trail</h1>
                <div style="margin-top: 20px; width: 100%">
                    {% for field in form %}
                        <div class="search-label-container">
                            <p>{{ field.label }}</p>
                        </div><div class="search-input-container">
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="search-submit-button-container">
                        <button name="search" class="search-submit-button" type="submit" value="search">Search</button>
                        <button name="search" class="search-submit-button" type="submit" value="around_me">Trails Around Me</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if places|length %}
        <div class="search-results-container" id="results">
          <h3>Search Results:</h3>
            {% for place in places %}
                <a href="">
                    <div class="search-result-trail-container">
                        <div>
                            <h3 class="indexTrailHeader">{{ forloop.counter }}. {{ place.name }}</h3>
                            <p>{{ place.city }}, {{ place.state }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}{{ block.super }}
    <script>
        $(document).ready(function() {
            var lat_coord;
            var lon_coord;
            var places = "{{ places|escapejs }}";
            if ( places.length ) {
                document.getElementById("results").scrollIntoView();
            }
            $('.search-submit-button').click(function(e){
                $(e.target).html('Loading...');
            });
            function getCoords() {
                function success(position) {
                    var crds = position.coords;
                    lat_coord = crds.latitude;
                    lon_coord = crds.longitude;
                    var lat = $('<input>').attr("name", 'lat').attr("type", "hidden").val(lat_coord);
                    var lon = $('<input>').attr("name", 'lon').attr("type", "hidden").val(lon_coord);
                    $('form').append($(lat), $(lon));
                    $('button[value="around_me"]').click();
                }
                navigator.geolocation.getCurrentPosition(success);
            }
            $('form').submit(function(e) {
                var val = $("button[type=submit]:focus").val();
                if ( val === 'around_me' && ( !lat_coord || !lon_coord ) ) {
                    e.preventDefault();
                    getCoords();
                    return false;
                }
                return true;
            })
        })
    </script>
{% endblock %}