.trail-search-container {
  background-image: url('/static/images/headerBackground2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 51px);
  min-height: 500px;
}
.trail-search-form-container {
  padding-top: 100px;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
}
.trail-search-form {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 50px 0;
}
.search-label-container {
  width: 30%;
  text-align: right;
  display: inline-block;
}
.search-input-container {
  padding: 10px;
  width: 70%;
  display: inline-block;
  text-align: left;
}
.search-input {
  display: block;
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  transition: border 0.5s ease, background-color 0.5s;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.select-input {
  background-image: url('/static/images/select-arrow.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
.search-submit-button-container {
  width: 100%;
  text-align: right;
  padding-right: 15%;
}
.search-submit-button {
  margin-left: 10px;
  background: white;
  border: 1px solid #cccccc;
}
.search-submit-button:focus {
  outline: 0;
}
.search-result-trail-container {
  margin: 10px 0;
  border-top: 1px solid #cccccc;
  padding: 5px;
  text-align: left;
  position: relative;
}
.search-results-container {
  margin: 0 8.33%;
  padding-top: 50px;
  min-height: 100vh;
}
