.trail-search-container {
  background-image: url('https://images.unsplash.com/photo-1430263757305-b4f2b068d132?ixlib=rb-0.3.5&q=80&fm=jpg&w=1080&fit=max&s=f8f7534d5fc9dd10c710e03d82217ba8');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 51px);
  min-height: 500px;
}
